.DS_Store
.idea
node_modules
typings
app/**/*.js
app/**/*.js.map
test/**/*.js
test/**/*.js.map
coverage
.nyc_output
package-lock.json

app/**/*.d.ts
app/**/*.d.ts.map
app/*.js
app/*.js.map
test/**/*.d.ts
test/**/*.d.ts.map
test/**/*.spec.d.ts
test/**/*.spec.d.ts.map

test/**/*.spec.ts.snap
test/**/*.spec.js.snap
test/**/__snapshots__/

app/**/__snapshots__/
